/* Write some CSS below */
body {
    font-family: Overpass;
  }
 
  h1, h2, {
    color: #404042;
    font-family: Chivo;
  }

  h3 {
color : white;
font-family: monospace;

  }

  a {
    font-family: Chivo;
     }
 
  p {
    color: #404042;
    opacity: .7;
  }
 
.container {
    width: 800px;
    margin: auto;
  }
 
  .banner {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/pexels.jpg');
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    text-align: center;
  }
 
  .banner h1 {
    color: white;
    font-size: 45px;
    margin: 0;
  }
 
  .banner p {
    color: white;
    font-size: 24px;
  }
 
 
  .btn {
    background-color: deeppink;
    color: white;
    padding: 10px 25px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    transition: .3s;
    margin:10px ;
  }


.cards {
margin:10px ;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 10px;

 }

  .card {
    background: black;
    box-shadow: 0 0 16px ;
    border-radius: 4px;
    width: 200px;
    text-align: center;
    padding: 24px;
    margin: 8px;

  }
 
  .card img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 4px;
  }

  .card h3 {
    margin-bottom: 0;
    color: ghostwhite;

  }

  .card h2 {
    margin-bottom: 0;
    color: ghostwhite;

  }

  .footer {
    background: #beige;
    text-align: center;
    padding: 24px 0;
    }

    .btn1 {
    background-color: deeppink;
    color: white;
    padding: 10px 25px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    transition: .3s;
    margin:10px ;
  }
  